/admin/view/javascript/*
/admin/view/stylesheet/*
/catalog/view/javascript/font-awesome/*
/storage/**
/system/**
*.txt
*.html
*.php
*.twig
*.tpl
*.scss
*.png
*.jpg
*.gif
*.ico
*.svg
*.js
*.json
*.ttf
*.woff
*.woff2
*.map
*.css
*.eot
*.md
*.xml
*.zip
*.log
.htaccess
sess_*
cache*.*
*.ini
!typepayment*.php
!install.xml
